.btn-plus {
  position: fixed;
  right: 10px;
  top: 10px;
}

.truda {
  background-color: #3b82f6 !important;
}

.chamsoc {
  background-color: #10b981 !important;
}

.truda .rbc-agenda-date-cell,
.chamsoc .rbc-agenda-date-cell {
  background-color: white;
}